body {

    background-color: #e9ebee;
    
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    
    font-size: 16px;
    
    margin: 0 auto;
    
    max-width: 800px;
    
    }
    
    table,th,td{
    
    border:1px solid black
    
    }
    
    .sabrina{
    
    text-align:center
    
    }
    
    a:hover {
    
    color:black;
    
    }
    
    a:hover{
    
    color:orangered;
    
    }
    
    
    
    }
    
    border:1px solid white black
    
    }
    table {
        widows: 100%;
        border: 1px solid black;
        margin: 15px;
        padding: 10px;
        background-color: black;
        border-collapse: collapse;
    } 
}
td{
    height: 30px;
    margin:15px;
    padding:10px;
}
table.information {
    font-size:16px;
}
tr{
    height: 35 px;
}
tr:nth-child(2n+1) {
    background-color: blueviolet;
}
tr:hover {
    background-color: orangered;
    }
    td{
        height: 30px;
        margin:50px;
        padding:10px;
    }
    
    
    
    
    
    @media only screen and (max-width: 900px) {
    
    body {
    
    background-color:red;
    
    }
    
    }