
 body
 {

    background-color:rgb(63, 247, 72);              
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
      width: 800px;

 

      color: rgb(136, 241, 241);
      font-weight: bold;
      

  

      
      }
      
       h1
       {
      padding-left: 190px;
      color: rgb(224, 255, 240);
      text-align: center;
       }
      
      
       p{

        padding-left: 190px;
        color: rgb(224, 255, 240);
        
       }
      
       li:hover
      {
      
      
          background-color: rgb(137, 255, 210);
      
           border: 1px ;
              border-radius: 5px;
              font-size: 1em;
              text-align: center; 
              
  
              border: 1px solid rgb(245, 54, 40);
            
              box-shadow: 6px 6px 0px rgb(224, 163, 123);
          
           

 }


 
 li{
     
 
  padding-left: 80PX;
  padding-top: 10px;
  padding-bottom: 10px;
background:rgb(255, 255, 255) ;
border-radius: 30px;
background: rgba(226, 226, 226, 0.548);



}





  @media only screen {
    body {
     
 
       background:url(FODE.jpg) no-repeat center ;
        background-size:cover;
      width: 700px;
   
    }
  }
 
  @media only screen and (min-width: 0px) and (max-width: 679px) {
    body {
   
          background:url(FODE.jpg) no-repeat center ;
        background-size: cover;
  
        width: auto;
   
  }
 }

 #photo{
  border-radius: 20% ;
  height: 100px;
  margin-bottom:2%;
  width: 100px;

}
  
