
body{
    

                
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: auto;
 
padding: 10px;
}

@media only screen {
    body {
     

        background:  url(fod.jpg) no-repeat center ; 
        background-size:contain;
        width: 700px;
     
    }
  }

  @media only screen and (min-width: 0px) and (max-width: 679px) {
    body {
   
        background:  url(fod.jpg) no-repeat center ; 
        background-size: contain;

        width: 100%;
    
  }
}



td
{
    border: 1px solid black;
}
table
{
   
    border-collapse: collapse;
     
    background-color: rgb(255, 255, 255);
}
img
{
    width: 2em;
    height: 2em;
}



a:hover
{
    color:gray;
}
tr:nth-child(2n+1)
{
    background-color: rgb(162, 222, 230);
}

tr:hover
{
    background-color: rgb(136, 255, 146);
}






 



#photo-cv{
    border-radius: 50% ;
    height: 150px;
    margin-bottom:2%;
    width: 100px;
}



.contour
{


    border: 1px solid rgb(7, 26, 192);
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
   
    color: rgb(2, 2, 8);
    text-decoration: none;
    box-shadow: 6px 6px 0px rgb(12, 76, 150);
}
 



