 body
 {

    background-color:rgb(175, 175, 175);              
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;     

   

    background:url(FODE.jpg) no-repeat center ; 
    background-size: cover; 
    padding-bottom: 300px;

 }



 h1
 {
padding-left: 190px;
color: rgb(19, 19, 18);
 }



 td:hover
{


    background-color: rgb(51, 180, 255);

     border: 1px ;
        border-radius: 5px;
        font-size: 1em;
        text-align: center; 
}




 form {
     
 
   padding-left: 180PX;
   padding-top: 15px;
   padding-bottom: 15px;
background:rgb(255, 255, 255) ;
border-radius: 30px;
background: rgba(226, 226, 226, 0.548);


 }


 #erreur{ 
   margin: 0 auto;
   width: 600px;
   padding: center;
   border: 1px solid black;
   border-radius: 20px;
   background-color: pink;
  
   text-align: center;
}

#resultat{ 
   text-align: center;
   margin: 0 auto;
   width: 600px;
   padding:center;
  
   border-radius: 20px;
   background-color: green;

   color: white;
}

input{
   text-align: center;
   font: 1em sans-serif;
   
   width: 200px;
   box-sizing: border-box;
   border: 1px solid #999;
   border-radius: 1em;
}


#boutonReset
{
   border-radius: 1em;

   background-color:rgb(255, 145, 145);

}
