h1{
    text-align: center;
}

form{
    border: 1px solid blue;
    padding: 10px;
    background: white;
}

label{
    width: 200px;
    display: inline-block;
}


#error{
    border : 1px solid black;
    color: black; 
    padding: 5px;
    background: red;
    width: 75%
}

#valid{
    border: 1px solid black;
    color: white;
    padding: 5px;
    background: green;
    width: 75%
}